In [5]:
import pandas as pd
from scipy import stats

In [6]:
df = pd.read_csv('table.csv')
df.head()

  Unnamed: 0           overall          exposure      non-exposure
0        age  68.0 [57.0-79.0]  72.0 [62.0-82.0]  67.0 [57.0-79.0]
1     gender      1487 (56.1%)       225 (58.4%)      1262 (55.7%)

In [7]:
table = pd.read_csv('df.csv')
table.head()

,encounter_id,age,gender,sirs,cci,SOFA_icu_admision,sbp,dbp,mbp,temperature,...,hospital_death_flag,los_hospital,los_icu,ed_intime,ed_outtime,admission_location,icu_intime,icu_outtime,icustay_seq,sepsis3_diagnosis_time
0,34332447,94.0,1.0,3,6.0,6.0,120.00,100.0,113.333333,36.222222,...,0.0,4,1.21,2134-06-18 09:45:00,2134-06-18 13:25:00,EMERGENCY ROOM,2134-06-18 13:25:00,2134-06-19 18:08:21,1,2134-06-18 14:00:00
1,31981707,94.0,0.0,0,9.0,9.0,137.00,69.0,114.333333,37.000000,...,0.0,29,11.00,2170-04-06 16:19:00,2170-04-06 20:07:00,EMERGENCY ROOM,2170-04-06 20:07:00,2170-04-17 20:28:50,1,2170-04-06 21:00:00
2,36935008,93.0,0.0,4,5.0,4.0,120.00,74.0,104.666667,39.833333,...,0.0,10,1.17,2152-07-24 09:04:00,2152-07-24 09:57:02,EMERGENCY ROOM,2152-07-24 09:57:02,2152-07-25 13:46:46,1,2152-07-24 12:00:00
3,30492683,93.0,1.0,4,7.0,7.0,137.61,76.5,117.240000,38.152778,...,0.0,6,2.21,2202-12-21 08:01:00,2202-12-21 12:37:00,EMERGENCY ROOM,2202-12-21 12:37:00,2202-12-23 17:56:47,1,2202-12-22 06:00:00
4,39334847,94.0,1.0,1,8.0,2.0,133.00,83.0,116.333333,35.000000,...,0.0,10,1.08,2195-05-29 17:56:00,2195-05-29 21:51:00,EMERGENCY ROOM,2195-05-29 21:51:00,2195-05-30 23:00:21,1,2195-05-30 02:00:00

In [8]:
ex = table[table.gender==1]
non = table[table.gender==0]

In [9]:
a = ex['age']
b = non['age']

In [15]:
stats.ttest_ind(a,b).pvalue

0.0011848004199853258

In [19]:
A1 = len(ex[ex['gender'] == 1])
A2 = len(ex) - A1
B1 = len(non[non['gender'] == 1])
B2 = len(non) - B1
A = pd.DataFrame({'Yes':A1,'No':A2,},index=['Q1'])
B = pd.DataFrame({'Yes':B1,'No':B2,},index=['Q2'])
cat = pd.concat([A,B])

p = stats.chi2_contingency(cat,correction=False).pvalue
print(f'på€¤ ã€€ã€€ã€€= {p :.3f}')

på€¤ ã€€ã€€ã€€= 0.000